@model ChieuThu6.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p style="font-size:24px" >  Bạn Đã Mua Cuốn Sách <strong>@Model.Tieu_De</strong> Với Giá <strong>@Model.Gia</strong>VNĐ</p>
